<div class="container">
  <br>
  <h1>Stupid Coaching</h1>
  <div class="bd-callout bd-callout-ask">
    <span class="answer"><%= @ask %>
    <p>-You</p></span>
  </div>
  <div class="bd-callout bd-callout-answer">
    <span class="answer"><strong><%= @answer %></strong>
    <p>-Your Coach</p></span>
  </div>
  <%= link_to "Ask a new question", "/ask"%>
</div>
