/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*------------------Answer---------------------*/

.container {
  align-content: center;
}

 .bd-callout-ask {
  border-left-color:darkgray;
 }

 .bd-callout-answer {
  border-left-color:darkgray;
  background-color: beige;
 }

 .bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid darkgray;
  border-left-width: 0.40rem;
}

.answer {
  font-size: 20px;
}

.linky {
  text-decoration: none;
}

/*--------------------Ask--------------------*/
#button-addon2 {
  color: whitesmoke;
}

.btn {
  background-color: #337AB7;
}

.btn:hover {
  background-color: #005aa8;
}
